@import "tailwindcss";

/* This tells Tailwind v4 to enable dark mode based on the .dark class */
@variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

/* Set your base colors here so the whole page changes */
body {
  @apply bg-white text-slate-900 transition-colors duration-300;
  @apply dark:bg-zinc-950 dark:text-zinc-100;
  margin: 0;
  padding: 0;
}